/* font config */
$font-family-base: 'Roboto Flex', sans-serif;
$headings-font-family: 'Roboto Flex', sans-serif;
$display-font-sizes: (
    1: 5.5rem,
    2: 3.5rem,
    3: 1.5rem
);

@import "../node_modules/bootstrap/scss/bootstrap";

$font-nav: .75rem;
$font-sub: 1rem;
$font-p: 1.1rem;
$font-hl: 2.75rem;
$font-hl-w: 700;
$font-sub-w: 300;

.kicker {
    font-size: $font-sub;
    font-weight: $font-sub-w;
}

.headline {
    font-size: $font-hl;
    font-weight: $font-hl-w;
    margin-bottom: .75em;
}

#tentang-page {
    #tentang-paragraph {
        font-size: $font-p;
    }

    .row {
        column-gap: 1em;
    }
}

.icon {
    height: 2em;
}

header {
    background-image: linear-gradient(to bottom, #191970, #7DF9FF);
    color: white;

    padding-top: 2em;
    padding-bottom: 5em;

    nav {
        margin-bottom: 4em;

        .nav-link {
            color: white;
            font-size: $font-nav;
        }
    
        .navbar-brand {
            margin: 0;
        }
    
        .navbar-nav {
            column-gap: 5em;
        }
    
        .btn {
            border-radius: 2em;
            width: 7em;
            font-size: $font-nav;
        }
    }

    #jumbotron {

        h1 {
            margin-bottom: 0.25em;
        }
        
        h3 {
            margin-bottom: 3.5em;
        }

    }
}

#sponsor-page {
    .row {
        column-gap: 4em;
        margin-bottom: 3em;
    }
    .card {
        width: 12em;
        border-radius: 2em;
        border-color: black;
        border-width: 1px;
        box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    }
    .container-fluid {
        padding-top: 1em;
    }
}

#hadiah-list {
    .card {
        width: 5em;
        background-color: white;
    }
}

#karya-page {
    .carousel {
        display: flex;
        width: 60em;
        height: 30em;
        box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
        .carousel-indicators {
            bottom: -4em;
        }
        .carousel-inner {
            display: flex;
            align-items: center;
        }
    }
    .carousel-item {
        img {
            width: 50%;
        }
    }
}

.page-set {
    padding-inline: 1em;
    padding-block: 3em;
}

footer {
    #contacts {
        margin-bottom: 2em;
    }

    padding-top: 3em;
    padding-bottom: 1.5em;
}