@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* container config */

/* font config */
$font-stack: 'Roboto Flex', sans-serif;

@font-face {
    font-family: 'Roboto Flex';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap');
}

/* header config */

/* navigation bar */
