/* font config */
$font-family-base: 'Roboto Flex', sans-serif;
$headings-font-family: 'Roboto Flex', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

.icon {
    height: 2em;
}

